@page "/"

<PageTitle>Game Catalog</PageTitle>

<h1>Hello, world!</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var game in games){
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.ReleaseDate.ToString("dd/MMMM/yyyy")</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Game[] games = new []{
        new Game(){
            Id = 1,
            Name ="Dragon Ball Budokai Tenkaichi 3",
            Genre ="Fighting",
            Price = 19.99m,
            ReleaseDate = new DateTime(1991,2,1)
        },
        new Game(){
            Id = 2,
            Name ="The Helders Skcrolls Skyrim",
            Genre ="Adventure",
            Price = 39.99m,
            ReleaseDate = new DateTime(2010,2,1)
        },
        new Game(){
            Id = 3,
            Name ="NBA 2K18",
            Genre ="Sports",
            Price = 59.99m,
            ReleaseDate = new DateTime(2017,2,1)
        }
    };
}